<%- include('../partials/questions/head'); %>
<body>
  <%- include('../partials/questions/header'); %> 
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/3') %>
      <div class="box answer">
        <h3>Answer</h3>
        <img src= "<%= homer.imageUrl %>" />
        <ul>
          <% const {name, dob, profession, favoriteFood, favoriteBeverage} = homer %>
          <li> <%= name %> </li>
          <li> <%= dob %> </li>
          <li> <%= profession %> </li>
          <li> <%= favoriteFood %> </li>
          <li> <%= favoriteBeverage %> </li>
        </ul>
      </div>
    </div>
  </div>
</body>
